* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: 15px;
	background-color: hsl(212, 45%, 89%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-box {
	background-color: white;
	padding: 15px;
	width: 330px;
	border-radius: 20px;
}

.card-box__header {
	width: 100%;
	border-radius: 20px;
}

.card-box__text {
	text-align: center;
	padding: 15px 10px;

	.title {
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 15px;
		color: hsl(218, 44%, 22%);
	}

	.info {
		font-weight: 400;
		color:hsl(216, 15%, 48%);
	}
}
